@use './main.scss';
section {
  width: 100%;
  min-height: 30rem;
  padding-bottom: 5rem;
  background-color: main.$standard-black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 60%;
    margin-top: 2em;

    .container-buttons {
      margin-top: 5rem;
      display: flex;
      width: 100%;
      height: 3rem;
      justify-content: space-around;
      align-items: center;

      button {
        width: 20%;
        height: 90%;
        border-radius: 15px;
        font-size: 1.5em;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
    }

    form {
      width: 100%;

      .container-field {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2rem;

        .container-input {
          display: flex;
          align-items: center;

          label {
            width: 90%;
            color: main.$standard-white;
            margin-bottom: 0.5em;
          }

          .input {
            width: 95%;
            height: 3rem;
            border-radius: 1rem;
            border: 1px solid main.$standard-white;
            padding: 0 10px;
            color: main.$standard-white;
            background-color: main.$standard-black;
          }
        }

        .container-input {
          width: 60%;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .container-itens {
    width: 60%;
    margin-top: 5em;

    .container-buttons {
      margin-top: 5rem;
      display: flex;
      width: 100%;
      height: 10%;
      justify-content: center;

      button {
        width: 20%;
        height: 75%;
        border-radius: 15px;
        background-color: main.$standard-pink;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }

      button:hover {
        background-color: main.$standard-black;
        color: main.$standard-pink;
      }
    }

    form {
      width: 100%;

      .container-field {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;

        label {
          color: main.$standard-white;
          margin-bottom: 0.5em;
          margin-left: 0.5em;
        }

        .input-1 {
          width: 100%;
          height: 3rem;
          border-radius: 1rem;
          border: 1px solid main.$standard-white;
          padding: 0 10px;
          color: main.$standard-white;
          background-color: main.$standard-black;
        }

        .input-2 {
          width: 100%;
          height: 3rem;
          border-radius: 1rem;
          border: 1px solid main.$standard-white;
          padding: 0 10px;
          color: main.$standard-white;
          background-color: main.$standard-black;
        }

        .container-input {
          width: 60%;
          display: flex;
          flex-direction: column;
        }

        .container-input-2 {
          width: 30%;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .container-itens {
    width: 60%;
    margin-top: 5em;
  
    .container-buttons {
      margin-top: 5rem;
      display: flex;
      width: 100%;
      height: 10%;
      justify-content: center;
  
      button {
        width: 20%;
        height: 3rem ;
        border-radius: 15px;
        background-color: main.$standard-pink;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
  
      button:hover {
        background-color: main.$standard-black;
        color: main.$standard-pink;
      }
    }
  
    form {
      width: 100%;
  
      .container-field {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
  
        label {
          color: main.$standard-white;
          margin-bottom: 0.5em;
          margin-left: 0.5em;
        }
  
        .input-1 {
          width: 100%;
          height: 3rem;
          border-radius: 1rem;
          border: 1px solid main.$standard-white;
          padding: 0 10px;
          color: main.$standard-white;
          background-color: main.$standard-black;
        }
  
        .input-2 {
          width: 100%;
          height: 3rem;
          border-radius: 1rem;
          border: 1px solid main.$standard-white;
          padding: 0 10px;
          color: main.$standard-white;
          background-color: main.$standard-black;
        }
  
        .container-input {
          width: 60%;
          display: flex;
          flex-direction: column;
        }
  
        .container-input-2 {
          width: 30%;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
h2 {
  text-align: center;
  color: main.$standard-white;
  font-size: 2em;
  margin: 1rem 0;
}
.invertColor {
  color: main.$standard-pink;
  background-color: main.$standard-black;
  border: 2px solid main.$standard-pink;
}
.normalColor {
  color: main.$standard-black;
  background-color: main.$standard-pink;
  border: none;
}
.invertColor:hover {
  color: main.$standard-black;
  background-color: main.$standard-pink;
}
.normalColor:hover {
  color: main.$standard-pink;
  background-color: main.$standard-black;
}
.container-itens {
  width: 60%;
  margin-top: 5em;

  .container-buttons {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;

    button {
      width: 20%;
      height: 90%;
      border-radius: 15px;
      background-color: main.$standard-pink;
      border: none;
      font-size: 1.5em;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }

    button:hover {
      background-color: main.$standard-black;
      color: main.$standard-pink;
    }
  }

  form {
    width: 100%;

    .container-field {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 2rem;

      label {
        color: main.$standard-white;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
      }

      .input-1 {
        width: 100%;
        height: 3rem;
        border-radius: 1rem;
        border: 1px solid main.$standard-white;
        padding: 0 10px;
        color: main.$standard-white;
        background-color: main.$standard-black;
      }

      .input-2 {
        width: 100%;
        height: 3rem;
        border-radius: 1rem;
        border: 1px solid main.$standard-white;
        padding: 0 10px;
        color: main.$standard-white;
        background-color: main.$standard-black;
      }

      .container-input {
        width: 60%;
        display: flex;
        flex-direction: column;
      }

      .container-input-2 {
        width: 30%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
